




.beauty-trands{
    
    .about-h{
            font-size: 4.4rem;
            margin-bottom: 1rem;
        }
    
    .about-text{
        
        
        
        .text-p,.about-img{
            margin-bottom: 2rem;
            font-size: 2rem;
        }
    }
}