

.contact{

    margin: 11rem 0 11rem 0;

    .contact-h{
        font-size: 3rem;
        margin-bottom: 2.3rem;
        text-align: center;
    }

    .contect-form{

        

        .form-control{
            font-size: 1.6rem;
            padding: 1.2rem 0.7rem 1.2rem 0.7rem;
            margin-bottom: 1.9rem


            }

            .form-control:last-of-type{
                margin-bottom: 2.9rem;
            }
        }


        .contact-b{
            font-size: 1.4rem;
            line-height: 1.7rem;
            padding: 1rem 3rem 1rem 3rem;
            border: 1px solid #1E1E1E;
        }




    }


    .info{

        padding: 6rem;

        background-color: #ECD9D9;

        

        .info-artical{
            font-size: 2.4rem;

            margin-bottom: 1.5rem;

        }

        
    }
